@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
}

/* Navbar */

.navbar {
    background: url('../images/header-background.png') no-repeat center center;
    background-size: cover;
}

.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}

.logo {
    flex: 1;
    user-select: none;
    width: 200px;
    height: auto;
}

.logo img{
    display: block;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 225%;
    font-weight: bold;
}

.active {
    border-bottom: 1px solid #fff;
}

.navbar-links {
    padding: 1.5rem;
}

.navbar-links:hover {
    background-color: #9544cb;
    color: #fff;
}

.navbar-toggle {
    display: none;
}

/* Home Page */

#banner {
    text-align: center;
    font-size: 200%;
    background: linear-gradient(to bottom right, #9544CB, #575359);
    color: #ffe9ff;
    padding: 25px;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: backwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    color: #fff;
    font-size: 90%;
    font-family: Raleway, sans-serif;
    letter-spacing: 3px;

    text-transform: capitalize;
    width: 500px;
    height: 250px;

    padding: 15px 5px;

    background-color: rgba(149, 68, 203, 0.8);

    bottom: 90px;
    right: 160px;

    position: absolute;
}

#contact {
    color: #fff;
}

#contact:hover {
    color: yellow;
}

.facilities li {
    list-style-type: none;
}

#philosophy {
    font-size: 125%;
    text-align: justify;
    text-align-last: center;
    letter-spacing: 1.5px;

    height: auto;
    max-width: 100%;

    padding: 20px 30px 15px 30px;
    
    color: #ffe9ff;
    background: linear-gradient(to bottom right, #9544CB, #575359);
}

#philosophy h2 {
    width: 95%;
    color: #ffe9ff;
    margin: 0 auto;
    padding: 5px;
}

#philosophy h3 {
    color: #ffe9ff;
    margin: 0 auto;
    width: 95%;
    padding: 5px;
}

#philosophy p {
    background-color: transparent;
    color: #ffe9ff;
    margin: 0 auto;
    width: 95%;
    font-size: 90%;
    padding: 5px;
}

#programme div {
    color: #575359;
    background-color: #ffe9ff;
    width: 33.3%;
    height: 250px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2.5px solid white;
    box-sizing: border-box;
}

/* Footer */

#footer {
    height: auto;
}

.social-networks {
    clear: both;
    text-align: center;
    background-color: #575359;
    height: auto;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    FONT-WEIGHT: 200;
    padding: 30px 0
}

.social-networks ul {
    height: auto;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    FONT-WEIGHT: 200;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 1px;
    padding: 5%;
    color: #ffe9ff;
}

/* Team Page */

#welcome {
    height: 150px;
    background: linear-gradient(to bottom right, #9544CB, #575359);
    color: #ffe9ff;
    font-size: 280%;
    text-align: center;
    padding: 25px;
}

#welcome h1 {
    height: auto;
    padding: 25px;
}

#team {
    width: 100%;
    height: auto;
}

.row {
    width: 100%;
    height: auto;
    clear: both;
}

.column {
    width: 33.33%;
    height: auto;
    float: left;
    background-color: #ffe9ff;
}

.column img {  
    width: 100%;
    background-color: #ffe9ff;
}

.column h3 {
    color: #575359;
    background-color: #ffe9ff;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
}

.column p {
    color: #575359;
    text-align: center;
    background-color: #ffe9ff;
    padding: 10px;
    height: 100px;
}

/* Form Page */

.form-section {
    clear: left;
    background: url('../images/old-man.jpg');
    height: 1000px;
    background-size: cover;
    background-position: center;
}

.signup-form {
    margin: 175px 0 50px;
    color: #ffe9ff;
    background-color: rgba(149, 68, 203, 0.8);
    max-width: 400px;
    position: absolute;
    left: 5%;
    padding: 30px;
}

.signup-form h2, h3 {
    color: #ffe9ff;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #ffe9ff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #ffe9ff;
    border-radius: 10px;
}

.text-input:hover {
    border-color: #e7df49;
}

.game-button {
    margin-top: 25px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 100%;
    background-color: #575359;
    color: #ffe9ff;
    display: block;
}

.game-button:hover {
    background-color: #e7df49;
    color: #9544CB;
}

#address {
    background-color: #ffe9ff;
    width: 50%;
    height: 580px;
    float: left;
    color: #575359;
}

#address h2 {
    text-align: right;
    padding: 5px 50px 5px 5px;
    margin: 40px 0;
    background: linear-gradient(to bottom left, #9544CB, #575359);
    color: #ffe9ff;
}

#address p {
    text-align: right;
    padding: 10px 50px 0 0;
    color: #575359;
    font-size: 200%;
}

#map {
    width: 50%;
    height: 580px;
    float: left;
    background-color: #ffe9ff;
    border-left: 1px solid #9544CB;
    box-sizing: border-box;
}

#map h2 {
    text-align: left;
    padding: 5px 5px 5px 50px;
    background: linear-gradient(to bottom right, #9544CB, #575359);
    color: #ffe9ff;
    margin: 40px 0;
}

#map-box {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-left: 40px;
}

iframe {
    width: 80%;
    height: 400px;
}

/* Media Queries */

@media screen and (max-width:1200px) {
    #banner {
        font-size: 175%;
    }
    
    #philosophy {
        width: auto;
        height: auto;
    }

    #cover-text {
        right: 90px;
        bottom: 50px;
    }
}

@media screen and (max-width:950px) {
    .navbar a {
        font-size: 175%;
    }
    
    #philosophy {
        padding: 30px;
        width: auto;
        height: auto;
    }

    #programme div {
        clear: both;
        width: 100%;
    }

    #cover-text {
        padding-top: 30px;
        padding-left: 15px;

        bottom: 25px;
        right: 25px;
    }

    .column {
        clear: both;
        width: 100%;
        height: auto;
    }

    .column h3 {
        margin: 0;
    }

    .column p {
        height: auto;
    }

    .signup-form {
        margin: 50px 0 0 25px;
        left: auto;
    }
}

@media screen and (max-width: 600px) {
    
    .logo img {
        width: 150px;
        height: auto;
    }

    .navbar ul {
        flex-wrap: wrap;
        background-color: rgba(0,0,0,0.3);
    }

    .navbar-toggle {
        display: block;
        margin-right: 25px;
        font-size: 200%;
    }

    .navbar-links {
        display: none;
        width: 100%;
        text-align: center;
    }

    .active {
        display: block;
        border-bottom: none;
    }

    #banner h1 {
        font-size: 60%;
    }
    
    #philosophy {
        height: auto;
        font-size: 100%;
    }

    #philosophy h2{
        text-align: center;
    }

    #philosophy h3 {
        text-align: center;
    }

    #cover-text {
        margin-left: 2rem;
        max-width: fit-content;
        max-height: fit-content;
        height: auto;
        font-size: 90%;
        right: 16px;
    }

    #welcome {
        height: auto;
    }

    #welcome h1 {
        font-size: 75%;
    }

    .column p {
        height: auto;
        clear:both;
    }

    .social-networks i {
        font-size: 175%;
    }

    .signup-form {
        margin: 20px 10px 0 10px;
        left: auto;
        font-size: 80%;
    }

    #address {
        clear: both;
        width: 100%;
        height:auto;    
    }

    #address p {
        font-size: 1.2rem;
    }

    #map {
        clear: both;
        float: left;
        width: 100%;
    }
}