@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
}

.navbar {
    background: url('../images/pexels-todd-trapani-2339377.png') no-repeat center center;
}