@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
}

.navbar {
    background: url('../images/pexels-todd-trapani-2339377.png') no-repeat center center;
    background-size: cover;
}

.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    color: aliceblue;
}

.logo {
    flex: 1;
    user-select: none;
}

.navbar img{
    display: block;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 225%;
    font-weight: bold;
}

.active {
    border-bottom: 1px solid #fff;
}


